name: "Go Build Test And Release"

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    name: "Build - Test - Release"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        go: ["1.17"]
    env:
      VERBOSE: 1
      GOFLAGS: -mod=readonly
      GOPROXY: https://proxy.golang.org

    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run build
        run: ./taskfile ci:build

      - name: Run test
        run: ./taskfile ci:test

      - name: Run clean
        run: ./taskfile ci:clean

      - name: Run release
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --snapshot --skip-publish --rm-dist
